{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Personal Finance {% endblock %}</h1>
    <h2>Current Net-Worth: {{ "$ {:,.2f}".format(net_worth) }}</h2>
    {% for account in accounts %}
    <div class="transactions">
        <a href="account/{{ account['id'] }}">
            <h3 class="title">{{ account['nickname'] }}</h3>
        </a>
        <span class="badge badge-primary">{{ account['account_type'] }}</span>
        <span class="badge badge-secondary">{{ "{:,.2f}".format(account['interest'] * 100) ~ "%" }}</span>
        <span class="price">$ {{ "{:,.2f}".format(account['total']) }}</span>
    </div>
    <hr>
    {% endfor %}
{% endblock %}