{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} New User {% endblock %}</h1>
<div>
    <form id="user">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required />
        <br>
        <label for="first_name">First Name: </label>
        <input type="text" id="first_name" name="first_name" required />
        <br>
        <label for="last_name">Last Name: </label>
        <input type="text" id="last_name" name="last_name" required />
        <br>
        <label for="sales_tax">Sales Tax: </label>
        <input type="text" id="sales_tax" name="sales_tax" required />
        <br>
        <input type="submit" id="submit" method="POST">
    </form>
</div>
<div id="result"></div>

<script src="{{url_for('static', filename='javascript/new_user.js')}}"></script>
{% endblock %}